
  <div class="container">
    <div class="max-items-3">
      <div class="col">
        <div>
          <div class="card card-horizontal">
            <i class="bx bx-laptop card-icon"></i>
            <div class="card-body">
              <h3 class="card-title">
                <a href="https://simuladorinspecciones.agcontrol.gob.ar/" class="card-title-link">Soporte</a>
              </h3>
              <p class="card-text">Iniciá un nuevo trámite o consulta uno existente de manera online.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="card card-horizontal">
            <i class="bx bxs-file-doc card-icon"></i>
            <div class="card-body">
              <h3 class="card-title">
                <a href="#" class="card-title-link">Instructivos</a>
              </h3>
              <p class="card-text">Descargá los instructivos de uso.</p>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  