<div class="container">
  <div class="max-items-3">
    <div class="col">
      <div>
        <div class="card card-horizontal">
          <i class="bx bxs-store-alt card-icon"></i>
         
          <div class="card-body">
            <h3 class="card-title">
              <a href="https://simuladorinspecciones.agcontrol.gob.ar/" class="card-title-link">Simulá tu inspección</a>
            </h3>
            <p class="card-text">Testeá tu local comercial y conocé el estado general de tu comercio</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="card card-horizontal">
          <i class="bx bxs-book-open card-icon"></i>
          <div class="card-body">
            <h3 class="card-title">
              <a href="#" class="card-title-link">Actas digitales</a>
            </h3>
            <p class="card-text">Descargá tu acta digital labrada</p>
            
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="card card-horizontal">
          <i class="bx bxs-user-check card-icon"></i>
          <div class="card-body">
            <h3 class="card-title">
              <a href="#" class="card-title-link">Inspecciones BA</a>
            </h3>
            <p class="card-text">Accedé a las inspecciones planificadas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 